.skills-section {
  width: 90%;
  position: relative;
  margin-top: 30px;
  min-width: 333px;
  margin-left: auto;
  margin-right: auto;
}

.skills-type {
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;
  color:  #575757;
  margin-top: 20px;
  margin-bottom: 15px;
}

.skills-item {
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  position: relative;
}
.skills-img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.skills-text {
  display: inline-block;
  position: relative;
  bottom: 7px;
}

@media (min-width: 768px) {
  .skills-section {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    grid-column: 1/1;
    grid-row: 1;
  }
}

@media (min-width: 993px) {
  .skills-section {
    margin-top: 65px;
  }
  .skills-type {
    font-size: 32px;
    line-height: 44px;
    margin-top: 35px;
    margin-bottom: 25px;
  }

  .skills-item {
    font-size: 24px;
    line-height: 32px;
  }
  .skills-img {
    width: 32px;
    height: 32px;
  }

  .skills-text {
    display: inline-block;
    position: relative;
    bottom: 7px;
  }
}