.skills-section {
  width: 90%;
  position: relative;
  margin-top: 30px;
  min-width: 370px;
  margin-left: auto;
  margin-right: auto;
}

.skills-type {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color:  #305585;
}