
@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}

.kinesis-container__title {
  height: 30px;
  margin-bottom: 20px;
}


.title {
  font-weight: 800;
  font-size: 26px;
  line-height: 30px;
  color: #305585;
  margin-bottom: 20px;
  text-transform: uppercase;
  position: absolute;
  display: flex;
  gap: 15px;
  align-items: center;
}

.title-name {
  transform: translate3d(0, 2px, 0);
}

.title--pink {
  color: #FAA79D;
}


.title.init {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: scaleAnimation;
  animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
}

.closing-parenthesis {
  margin-left: 10px;
}

.title__kinesis-element {
  display: inline-block;
}



@media (min-width: 992px) {
  .kinesis-container__title{
    height: 48px;
    margin-bottom: 35px;
  }
  .title {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 35px;
  }
  .opening-parenthesis{
    margin-right: 15px;
  }

  .closing-parenthesis {
    margin-left: 15px;
  }
}